@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dosis:wght@200..800&display=swap');


:root{

--indaco:(#0B4F6C);
--white:(#FBFBFF);
--black:(#040F16);
--ciano:(#01BAEF);

}

*{
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: "Anton SC", sans-serif;

}

.fontTitle{
    font-family: "Anton SC", sans-serif;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
    color: var(--black);
}

.wCustom{
    width: 90%;
}

.bgCustom{
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--white);
    
}

.btnCustom{
    border: 2px solid #0B4F6C;
    color: black;
    
    &:hover{
    background-color: #0B4F6C;
    border: 2px solid #0B4F6C;
    color: white;}
}

.headerCustom{
    background: url(./MEDIA/sfondo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    
}

#navbar{
    transition: 0.5s;
}


