@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dosis:wght@200..800&display=swap');


:root{

--indaco:(#0B4F6C);
--white:(#FBFBFF);
--black:(#040F16);
--ciano:(#01BAEF);

}

*{
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: "Anton SC", sans-serif;

}

.fontTitle{
    font-family: "Anton SC", sans-serif;
    letter-spacing: 5px;

}

a{
    text-decoration: none;
    color: var(--black);
}

.wCustom{
    width: 70%;
 @media screen and (max-width: 600px) {
    transform: translateX(25%);
 }
}

.bgCustom{
    box-shadow: 2px 2px 2px 2px;
    background-color: var(--white);
    
}

.btnCustom{
    border: 2px solid #0B4F6C;
    color: black;
    
    &:hover{
    background-color: #0B4F6C;
    border: 2px solid #0B4F6C;
    color: white;}
}

.headerCustom{
    background: url(./MEDIA/sfondo2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
@media screen and (max-width: 600px) {
    margin-top: 60px;
    
}
    
}

#navbar{
    transition: 0.5s;
    
    
    @media screen and (max-width: 600px) {
        width: 100% !important;
        margin-top: 0 !important;
    }
}

.fontHeader{
    color: var(--black);
    font-weight: 600;
   
    
}

.fa-truck-fast{
    transform: scaleX(-1);
}

.review{
    color: white;
    height: 100px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-row{
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.501)), url(./MEDIA/joystick.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    height: calc(100vh-56)
  ;
  }

  .container-form::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:#0B4F6C; 
    position: absolute;
    left: -30px;
    bottom: -30px;
    z-index: -1;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.361);
}


.contactForm{
    @media screen and (max-width: 600px) {
        text-align: center;
    
    }
}



.contactSwiper{
    width: 350px;
    height: 500px;
}
.swiper-slide-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    height: 100%;
    
}

.swiper-slide-contact:nth-child(1){
    background: url(./MEDIA/person2.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide-contact:nth-child(2){
    background: url(./MEDIA/person1.jpg);
    background-position: center;
    background-size: cover;
}
.swiper-slide-contact:nth-child(3){
    background: url(./MEDIA/person3.jpg), white;
    background-position: center;
    background-size: cover;
}